<?xml version="1.0" encoding="UTF-8"?>
<suite name="Good reads" parallel="false">

  <!-- driverType = Firefox, Chrome -->
 <parameter name="driverType" value="Chrome"></parameter>
  <parameter name="url" value="https://www.goodreads.com/"></parameter>
  <listeners>
      <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
  </listeners>
  
 <test name="SignUp Functionality">
    <classes>
      <class name="goodreads.signup.goodreads_qa.SignUpTest"/>
    </classes>
  </test>  
  
  <test name="Login Functionality">
    <classes>
      <class name="goodreads.signup.goodreads_qa.LoginTest"/>
    </classes>
  </test>
 
</suite>
